# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
/wp-admin/*
/node_modules/*
/wp-content/uploads/*
/wp-content/themes/blankslate/private/



wp-settings.php
wp-config.php


Desktop.ini

$RECYCLE.BIN/

