@import url('https://fonts.googleapis.com/css?family=Montserrat|Passion+One|Raleway');

/* 	My three fonts:
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Passion One', cursive;
*/


/*
	COLORS
*/
$color-blue		  : rgba(56,190,239, 1);
$color-dark-blue  : rgba(1, 165, 190, 1);
$color-orange	  : rgba(242,145,0, 1);
$color-blue-gray  : rgba(13,74,96, 1);
$color-p		  : #222;
$color-headings	  : $color-orange;
$color-background : $color-dark-blue;

/*
	FONTS
*/

$font-p: 'Raleway', sans-serif;